<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish0.png</key>
			<dict>
				<key>frame</key>
				<string>{{3290,248},{300,218}}</string>
				<key>offset</key>
				<string>{2,33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,300}</string>
			</dict>
			<key>fish1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2454,204},{313,270}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,300}</string>
			</dict>
			<key>fish10.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,216},{56,156}}</string>
				<key>offset</key>
				<string>{-10,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,176}</string>
			</dict>
			<key>fish11.png</key>
			<dict>
				<key>frame</key>
				<string>{{3826,1008},{61,160}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,176}</string>
			</dict>
			<key>fish12.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,296},{57,148}}</string>
				<key>offset</key>
				<string>{-8,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,176}</string>
			</dict>
			<key>fish13.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,216},{72,144}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,176}</string>
			</dict>
			<key>fish14.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,296},{57,148}}</string>
				<key>offset</key>
				<string>{-8,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,176}</string>
			</dict>
			<key>fish15.png</key>
			<dict>
				<key>frame</key>
				<string>{{4043,1310},{53,144}}</string>
				<key>offset</key>
				<string>{-10,13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,176}</string>
			</dict>
			<key>fish16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,278},{44,109}}</string>
				<key>offset</key>
				<string>{-9,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,134}</string>
			</dict>
			<key>fish17.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,332},{47,112}}</string>
				<key>offset</key>
				<string>{-8,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,134}</string>
			</dict>
			<key>fish18.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,278},{60,109}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,134}</string>
			</dict>
			<key>fish19.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,416},{47,112}}</string>
				<key>offset</key>
				<string>{-8,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,134}</string>
			</dict>
			<key>fish2.png</key>
			<dict>
				<key>frame</key>
				<string>{{3301,0},{313,248}}</string>
				<key>offset</key>
				<string>{3,18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,300}</string>
			</dict>
			<key>fish20.png</key>
			<dict>
				<key>frame</key>
				<string>{{3887,1310},{92,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,160}</string>
			</dict>
			<key>fish21.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,216},{91,153}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,160}</string>
			</dict>
			<key>fish22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,215},{92,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,160}</string>
			</dict>
			<key>fish23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{91,153}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,160}</string>
			</dict>
			<key>fish24.png</key>
			<dict>
				<key>frame</key>
				<string>{{2767,204},{109,199}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,203}</string>
			</dict>
			<key>fish25.png</key>
			<dict>
				<key>frame</key>
				<string>{{3182,206},{108,197}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,203}</string>
			</dict>
			<key>fish26.png</key>
			<dict>
				<key>frame</key>
				<string>{{2767,403},{109,199}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,203}</string>
			</dict>
			<key>fish27.png</key>
			<dict>
				<key>frame</key>
				<string>{{3182,403},{108,197}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,203}</string>
			</dict>
			<key>fish28.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,332},{70,93}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,97}</string>
			</dict>
			<key>fish29.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,348},{68,91}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,97}</string>
			</dict>
			<key>fish3.png</key>
			<dict>
				<key>frame</key>
				<string>{{3614,213},{305,216}}</string>
				<key>offset</key>
				<string>{3,34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,300}</string>
			</dict>
			<key>fish30.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,338},{70,93}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,97}</string>
			</dict>
			<key>fish31.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,348},{68,91}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,97}</string>
			</dict>
			<key>fish32.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,305},{134,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
			<key>fish33.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,228},{135,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
			<key>fish34.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,319},{134,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
			<key>fish35.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,216},{134,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
			<key>fish36.png</key>
			<dict>
				<key>frame</key>
				<string>{{3759,646},{181,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,109}</string>
			</dict>
			<key>fish37.png</key>
			<dict>
				<key>frame</key>
				<string>{{3725,1008},{178,101}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,109}</string>
			</dict>
			<key>fish38.png</key>
			<dict>
				<key>frame</key>
				<string>{{3443,976},{181,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,109}</string>
			</dict>
			<key>fish39.png</key>
			<dict>
				<key>frame</key>
				<string>{{3177,600},{182,101}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,109}</string>
			</dict>
			<key>fish4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2876,426},{301,217}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,224}</string>
			</dict>
			<key>fish40.png</key>
			<dict>
				<key>frame</key>
				<string>{{3624,976},{180,101}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,150}</string>
			</dict>
			<key>fish41.png</key>
			<dict>
				<key>frame</key>
				<string>{{3887,1218},{180,92}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,150}</string>
			</dict>
			<key>fish42.png</key>
			<dict>
				<key>frame</key>
				<string>{{3455,466},{180,117}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,150}</string>
			</dict>
			<key>fish43.png</key>
			<dict>
				<key>frame</key>
				<string>{{3747,827},{181,141}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,150}</string>
			</dict>
			<key>fish44.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,0},{409,216}}</string>
				<key>offset</key>
				<string>{-11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,223}</string>
			</dict>
			<key>fish45.png</key>
			<dict>
				<key>frame</key>
				<string>{{2454,0},{430,204}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,223}</string>
			</dict>
			<key>fish46.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,0},{409,216}}</string>
				<key>offset</key>
				<string>{-11,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,223}</string>
			</dict>
			<key>fish47.png</key>
			<dict>
				<key>frame</key>
				<string>{{2884,0},{417,206}}</string>
				<key>offset</key>
				<string>{-7,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,223}</string>
			</dict>
			<key>fish48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,0},{409,215}}</string>
				<key>offset</key>
				<string>{-2,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{433,300}</string>
			</dict>
			<key>fish49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1636,0},{409,215}}</string>
				<key>offset</key>
				<string>{-2,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{433,300}</string>
			</dict>
			<key>fish5.png</key>
			<dict>
				<key>frame</key>
				<string>{{2876,206},{306,220}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,224}</string>
			</dict>
			<key>fish50.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{409,228}}</string>
				<key>offset</key>
				<string>{-2,28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{433,300}</string>
			</dict>
			<key>fish51.png</key>
			<dict>
				<key>frame</key>
				<string>{{2045,0},{409,215}}</string>
				<key>offset</key>
				<string>{-2,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{433,300}</string>
			</dict>
			<key>fish52.png</key>
			<dict>
				<key>frame</key>
				<string>{{3891,611},{304,165}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>fish53.png</key>
			<dict>
				<key>frame</key>
				<string>{{3290,466},{304,165}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>fish54.png</key>
			<dict>
				<key>frame</key>
				<string>{{3455,646},{304,165}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>fish55.png</key>
			<dict>
				<key>frame</key>
				<string>{{3278,770},{304,165}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>fish56.png</key>
			<dict>
				<key>frame</key>
				<string>{{3443,811},{304,165}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>fish57.png</key>
			<dict>
				<key>frame</key>
				<string>{{3926,0},{306,165}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>fish58.png</key>
			<dict>
				<key>frame</key>
				<string>{{3919,306},{305,165}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>fish59.png</key>
			<dict>
				<key>frame</key>
				<string>{{3888,915},{303,165}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{308,174}</string>
			</dict>
			<key>fish6.png</key>
			<dict>
				<key>frame</key>
				<string>{{3590,429},{301,217}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,224}</string>
			</dict>
			<key>fish60.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,272},{143,60}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,66}</string>
			</dict>
			<key>fish61.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,216},{140,62}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,66}</string>
			</dict>
			<key>fish62.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,288},{143,60}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,66}</string>
			</dict>
			<key>fish63.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,216},{140,62}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,66}</string>
			</dict>
			<key>fish7.png</key>
			<dict>
				<key>frame</key>
				<string>{{3614,0},{312,213}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,224}</string>
			</dict>
			<key>fish8.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,228},{77,155}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,176}</string>
			</dict>
			<key>fish9.png</key>
			<dict>
				<key>frame</key>
				<string>{{3826,1168},{61,160}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,176}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>AllEnemyFish.png</string>
			<key>realTextureFileName</key>
			<string>AllEnemyFish.png</string>
			<key>size</key>
			<string>{4096,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>