<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fish0.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,0},{301,217}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,224}</string>
			</dict>
			<key>fish1.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,213},{301,217}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,224}</string>
			</dict>
			<key>fish10.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,430},{143,60}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,66}</string>
			</dict>
			<key>fish11.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,449},{143,60}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,66}</string>
			</dict>
			<key>fish12.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,604},{140,62}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{148,66}</string>
			</dict>
			<key>fish13.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,490},{143,60}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,66}</string>
			</dict>
			<key>fish14.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,430},{140,62}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,66}</string>
			</dict>
			<key>fish15.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,0},{78,156}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,168}</string>
			</dict>
			<key>fish16.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,156},{72,159}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,168}</string>
			</dict>
			<key>fish17.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,449},{60,160}}</string>
				<key>offset</key>
				<string>{-8,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,168}</string>
			</dict>
			<key>fish18.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,377},{56,156}}</string>
				<key>offset</key>
				<string>{-10,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,170}</string>
			</dict>
			<key>fish19.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,449},{58,155}}</string>
				<key>offset</key>
				<string>{-9,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,168}</string>
			</dict>
			<key>fish2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{306,220}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,224}</string>
			</dict>
			<key>fish20.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,377},{72,144}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,176}</string>
			</dict>
			<key>fish21.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,377},{68,146}}</string>
				<key>offset</key>
				<string>{-2,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,176}</string>
			</dict>
			<key>fish22.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,509},{57,148}}</string>
				<key>offset</key>
				<string>{-8,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,176}</string>
			</dict>
			<key>fish23.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,533},{53,144}}</string>
				<key>offset</key>
				<string>{-10,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,176}</string>
			</dict>
			<key>fish24.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,523},{55,143}}</string>
				<key>offset</key>
				<string>{-9,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,176}</string>
			</dict>
			<key>fish25.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,609},{60,109}}</string>
				<key>offset</key>
				<string>{-1,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,134}</string>
			</dict>
			<key>fish26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,437},{57,111}}</string>
				<key>offset</key>
				<string>{-3,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,134}</string>
			</dict>
			<key>fish27.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,437},{48,112}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{65,134}</string>
			</dict>
			<key>fish28.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,297},{44,110}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,134}</string>
			</dict>
			<key>fish29.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,437},{46,108}}</string>
				<key>offset</key>
				<string>{-8,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,134}</string>
			</dict>
			<key>fish3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{301,217}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,224}</string>
			</dict>
			<key>fish4.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,0},{312,213}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,224}</string>
			</dict>
			<key>fish5.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,217},{134,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
			<key>fish6.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,217},{135,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
			<key>fish7.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,297},{134,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
			<key>fish8.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,297},{134,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
			<key>fish9.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,315},{134,80}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>animationFiveToOne.png</string>
			<key>realTextureFileName</key>
			<string>animationFiveToOne.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>